.custom-btn {
  background-color: #734a91; /* Cor personalizada */
  border-color: #734a91; /* Cor da borda */
  color: #ffffff; /* Cor do texto */
}

.custom-btn:hover {
  background-color: #a87bc7; /* Cor personalizada ao passar o mouse */
  border-color: #a87bc7; /* Cor da borda ao passar o mouse */
}
.navbar {
  margin-bottom: 0;
}
.navbarNav{
  max-width: 0;
}
.nav-item{
  list-style-type: none;
}
.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#divaluno1{
  background-color: #660f53;
}
.parallax-background {
  background-image: url("fotoperucas.jpg");
  /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

#pagina {

  box-shadow: rgba(0, 0, 0, 0.5) 0px, 7px, 29px, 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  box-sizing: border-box;
  position: relative;
}
.close {
  float: right;
  cursor: pointer;
}
.duvida {
  color: #660f53;
  font-family: 'Freehand521 BT';
  font-weight: 400;
  font-size: 30px;
  margin-left: 10%;
}
.subtitle{
  margin-left: 10%;
}
#escolhas{
  margin-top: 20px;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  color: #660f53;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  color: white;
}

/* Estilo para o topo */
.topbar {
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o espaço do aluno */
.student-space {
  margin-left: 250px; /* Espaço para o menu lateral */
  padding: 20px;
}

/* Estilo para a foto do aluno */
.student-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.content-section {
  margin-top: 20px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #734a91;
  padding-top: 20px;
  text-decoration: none;
  
}

.sidebar h5 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .nav-item {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: #fff;
  padding: 10px 20px;
  display: block;
  text-align: left;
  transition: background-color 0.3s;
  text-align: center;
}

.nav-link:hover {
  background-color: #f1d7ff;
}

.student-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.mainLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.escolha{
  width: 90px;
  text-align: center;
  background-color: #b759a7;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formulario{
  margin: auto;
  width: 400px;
  margin: auto;
  padding: 10px;
  align-items: center;
  display: none;
}

legend {
text-align: center;
}

fieldset {
  border: #b759a7 3px solid;
  border-radius: 10px;
  padding: 10px;
}

label {
  width: 20%;
}

input {
  width: 70%;
}
.botao{
  width: 100%;
  display: flex;
  justify-content: center;
}

.lightbox{width: 1400px; height: 512px}
.title{text-align: center; padding: 5px 0px; background: #660f53;width: 820px;left: 50%;position: absolute; top:0px; margin-left: -410px; font-family:'Montserrat', sans-serif; font-weight: 700; color:#cca1bc; text-transform: uppercase; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}	
.col-md-12{width: 100%;} 
.faq{width: 100%}
.perguntas_ul {height: auto;list-style: none;cursor: pointer;}
.perguntas_ul li b{font-family:'Montserrat', sans-serif; font-weight: 500; color:#b759a7;}
.perguntas_ul li div{font-family: 'Montserrat', sans-serif;font-weight: 500;color: #58595b;}
.ativar_faq{font-weight: 700 !important}
/*RESPONSIVO*/
@media (min-width: 1294px) and (max-width: 1498px){
.lightbox{width: 1180px; height: 512px}
}
@media (min-width: 1199px) and (max-width: 1293px){
.lightbox{width: 1180px; height: 512px}
}
@media (min-width: 993px) and (max-width: 1198px){
.lightbox{width: 980px; height: 403px}	
}
@media (min-width: 680px) and (max-width: 992px){
.title{width: 620px; margin-left: -310px}
.lightbox{width: 664px; height: 830px}	
.perguntas_ul{position: relative; left: -7px; font-size: 17px;}
}
@media (min-width: 512px) and (max-width: 679px){
.title{width: 400px; margin-left: -200px; font-size: 13px}
.lightbox {width: 496px;height: 1100px;}
.perguntas_ul{position: relative; left: -7px; font-size: 13px;}
}
@media (min-width: 392px) and (max-width: 511px){
.title{width: 320px; margin-left: -160px; font-size: 13px}
.lightbox {width: 374px;height: 950px;}
.perguntas_ul{position: relative; left: -7px; font-size: 13px;}
}
@media (min-width: 323px) and (max-width: 391px){
.title{width: 215px; margin-left: -107px; font-size: 13px}
.lightbox {width: 307px;height: 950px;}
.perguntas_ul{position: relative; left: -16px; font-size: 13px;}
}
@media (min-width: 287px) and (max-width: 322px){
.title{width: 215px; margin-left: -107px; font-size: 13px}
.lightbox {width: 270px;height: 950px;}
.perguntas_ul{position: relative; left: -7px; font-size: 13px;}
}
@media (min-width: 272px) and (max-width: 286px){
.title{width: 215px; margin-left: -107px; font-size: 13px}
.lightbox {width: 256px;height: 950px;}
.perguntas_ul{position: relative; left: -16px; font-size: 13px;}
}
@media (max-width: 271px){
.title{width: 215px; margin-left: -107px; font-size: 13px}
.lightbox {width: 216px;height: 950px;}	
.perguntas_ul{position: relative; left: -28px; font-size: 13px;}
}